.btn {
  width: 115px;
  margin: 0;
  border-radius: 0;
}

.custom-btn {
  width: 140px;
}

.btn-secondary {
  border: 1px solid #aaa;
  &:hover {
    background-color: #aaa;
    border: 1px solid #888;
  }
}

.debt {
  opacity: .7;
}

.btn-container {
  position: absolute;
  width: 100%;
  // text-align: center;
  z-index: 2;
  background-color: lightgray;
}
