.form-container {
  position: absolute;
  background: lightgray;
  width: 100%;
  height: 60px;
  z-index: 2;
  button {
    position: absolute;
    right: 140px;
    top: 0;
  }
}
//
// label {
//   position: absolute;
//   left: 0;
//   color: #ddd;
//   font-weight: 400;
// }

.input-group {
  width: 305px;
}
