.image-view {
  width: 80px;
  height: 100px;
}

.image-view-selected {
  position: fixed;
  height: 50rem;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}

.deck-view {
  left: -12rem;
  position: absolute;
  top: 9rem;
  width: 8rem;
  height: 10rem;
}

.hidden {
  display: none;
}
